In [1]:
2 + 2

4

In [2]:
print ("Hello World")

Hello World

# Headline
## Subheader
normal text

*cursive* **bold**
- one
- two
- three

In [4]:
# this is a coment
print ("something")
#print ("Hello")

something

In [9]:
#names
name = "Lovelace"

In [6]:
print(name)

Lovelace

In [10]:
#integer is a number
age = 73

In [11]:
#float is a decimal number
size = 1.7123

In [13]:
#this are booleans
knows_math = True
likes_gardening = False

In [14]:
type(size)

float

In [15]:
type(name)

str

In [16]:
type(age)

int

In [17]:
type(likes_gardening)

bool

In [18]:
5 * 5

25

In [19]:
age * 100

7300

In [20]:
name + name

'LovelaceLovelace'

In [21]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [22]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [23]:
name + "10"

'Lovelace10'

In [24]:
size / age

0.023456164383561642

In [25]:
size

1.7123

In [26]:
age

73

In [27]:
str(size)

'1.7123'

In [28]:
type(size)

float

In [29]:
size = str(size)

In [107]:
10 - 3

7

In [30]:
type(size)

str

In [31]:
int(size)

ValueError: invalid literal for int() with base 10: '1.7123'

In [32]:
float(size)

1.7123

In [33]:
#Functions and Methods

In [34]:
#length
len(name)

8

In [35]:
len(size)

6

In [36]:
size

'1.7123'

In [37]:
name

'Lovelace'

In [38]:
name.upper()

'LOVELACE'

In [39]:
name.count("e")

2

In [41]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [43]:
#Lists and Dictionaries

In [44]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [45]:
len(names)

4

In [46]:
names[2]

'Curie'

In [47]:
len(name[2])

1

In [48]:
#print the data type of the lists first elements
type(names[0])

str

In [49]:
%who

age	 knows_math	 likes_gardening	 name	 names	 size

In [50]:
names[-1]

'Hawking'

In [51]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [52]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [53]:
names[0:2]

['Lovelace', 'Darwin']

In [54]:
names[2:]

['Curie', 'Hawking']

In [57]:
names[0], names[2]

('Lovelace', 'Curie')

In [58]:
#Dictionary

In [59]:
authors_and_birth_years = {"Lovelace" : 1882, 
                           "Darwin" : 1809, 
                           "Noether" : 1882}

In [60]:
authors_and_birth_years["Darwin"]

1809

In [61]:
authors_and_birth_years["Noether"]

1882

In [62]:
authors_and_birth_years = {"Lovelace" : 1882, 
                           "Darwin" : 1809, 
                           "Noether" : [1882, 1935]}

In [63]:
authors_and_birth_years["Noether"]

[1882, 1935]

In [66]:
authors_and_birth_years["Noether"][0]

1882

In [67]:
#the elements of the list can be obtained by its "key" name, but not by its position in the list

In [68]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [69]:
authors_and_birth_years.values()

dict_values([1882, 1809, [1882, 1935]])

In [70]:
for name in names:
    print(name)

Lovelace
Darwin
Curie
Hawking

In [71]:
for name in names:
    print(name)
    print("did awesome stuff")

Lovelace
did awesome stuff
Darwin
did awesome stuff
Curie
did awesome stuff
Hawking
did awesome stuff

In [72]:
for name in names:
    print(name)
print("did awesome stuff")

Lovelace
Darwin
Curie
Hawking
did awesome stuff

In [73]:
#indentation is part of the "For loop"

In [80]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [81]:
for name in names:
    print(name, "did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [84]:
# Conditionals
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [106]:
temp = 10
if temp > 15:
    print("It's warm")

In [96]:
temp > 15

True

In [94]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [98]:
temp = [10, 20, 30]
if temp > 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

TypeError: '>' not supported between instances of 'list' and 'int'

In [100]:
temps = [10, 20, 30]

for temp in temps:
    print(temp)
    if temp > 25:
        print("It's hot")
    elif temp > 15:
        print("It's warm")
    else:
        print("It's cold")

10
It's cold
20
It's warm
30
It's hot

In [102]:
temps = [10, 20, 30]

for temp in temps:
    if temp > 25:
        print(str(temp) + " It's hot")
    elif temp > 15:
        print(str(temp) + " It's warm")
    else:
        print(str(temp) + " It's cold")

10 It's cold
20 It's warm
30 It's hot